#btnProfile{
    background-color: #449e44;
    background-image: url("/img/User Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-radius: 12px;
    border-width: 7px;
    height: 275px;
    width: 550px;
    background-size: 50%;
}

#btnQuiz{
    background-color:#B856D4;
    background-image: url("/img/icon Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-radius: 12px;
    border-width: 7px;
    height: 275px;
    width: 550px;
    background-size: 50%;
}

#btnCatalog{
    background-color: #485AB5;
    background-image: url("/img/fish Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-width: 7px;
    border-radius: 12px;
    height: 275px;
    width: 550px;
    background-size: 70%;
}

#btnSuggest {
    background-color: #C9C34A;
    background-image: url("/img/envelope Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-width: 7px;
    border-radius: 12px;
    height: 275px;
    width: 550px;
    background-size: 70%;
}

