#btnProfile{
    background-color: white;
    background-image: url("/img/User Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-radius: 12px;
    border-width: 7px;
    height: 275px;
    width: 550px;
    background-size: 30%;
}

#btnQuiz{
    background-color: white;
    background-image: url("/img/icon Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-radius: 12px;
    border-width: 7px;
    height: 275px;
    width: 550px;
    background-size: 30%;
}

#btnCatalog{
    background-color: white;
    background-image: url("/img/fish Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-width: 7px;
    border-radius: 12px;
    height: 275px;
    width: 550px;
    background-size: 30%;
}

#btnSuggest {
    background-color: white;
    background-image: url("/img/envelope Colored.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-color: #33729C;
    border-width: 7px;
    border-radius: 12px;
    height: 275px;
    width: 550px;
    background-size: 30%;
}

