#question{
    font-family: lobster;
}


#quizBox{
    border:4px solid;
    background-color:#50C6DD;
    border-color:#33729C;
    padding:3px;
    border-radius:30px;
}
#difficulty{
background-color: black;
}

#A{
    
}

#buttonA{
    background-color: #33729C;
}

#buttonB{
    background-color: #33729C;
}

#buttonC{
    background-color: #33729C;
}

#buttonD{
    background-color: #33729C;
}

    #options{
        display: flex;
        justify-content: center;
        align-items: center;
    }